{% extends 'cms/base1.html' %}
{% block title %}
管理员操作
{% endblock %}
{% block head %}
 <meta name="csrf_token" content="{{ csrf_token }}">
{% endblock %}

{% block content %}
<h3>博客列表--管理员</h3>
    <br/>
    <a href="{% url 'cms:blog'%}">查看详情</a>
<table class="table" >
<tr>
    <td>文章</td>
    <td>操作</td>
</tr>
    {% for article in articles %}
<tr>
    <td>{{ article.title }}</td>
    <td><a href="{% url 'cms:operate_blog' article.id%}">操作</a></td>
</tr>
  {% endfor %}
</table>
<div class="pagination row">
    <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ articles.previous_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ articles.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ articles.paginator.num_pages }}"
                   class="btn btn-success"
                >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}

