{% extends 'users/base.html' %}
{% block title %}
搜索页面
{% endblock %}
{% block head %}
 <meta name="csrf_token" content="{{ csrf_token }}">
{% endblock %}

{% block content %}

    <form class="form-inline" >
     <label class="sr-only">搜索：</label>
     <input type="text" name="search" placeholder="搜索文章..." required>
     <input type="submit" value="提交">
 </form>
<br/>
{% if search %}
        {% if articles %}
            <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
            <hr>
        {% else %}
            <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
            <hr>
        {% endif %}
    {% endif %}



     <table class="table">
<tr>
    <td></td>
    <td>文章</td>
    <td>创建时间</td>
    <td>标签</td>
    <td>浏览量:</td>
</tr>
    {% for article in articles %}
<tr>
    <td><a href="{% url 'blogs:delete' article.id%}">删除</a></td>
    <td><a href="{% url 'blogs:detail' article.id %}"> {{ article.title }} </a></td>
    <td> {{ article.date_added }} </td>
    <td>{% for tag in article.tags.all %}{{ tag }}&nbsp;&nbsp;{% endfor %}</td>
    <td>{{ article.total_views }}</td>
</tr>
  {% endfor %}
</table>

            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1&search={{ search }}" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ articles.previous_page_number }}&search={{ search }}"
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}&search={{ search }}"
                   class="btn btn-secondary"
                >
                    {{ articles.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ articles.paginator.num_pages }}&search={{ search }}"
                   class="btn btn-success"
                >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
<br/>
 <br/>
     <a href="{% url 'blogs:articles' %}">返回首页</a>
{% endblock %}