{% extends 'common/base.html' %}

{% block title %}
首页
{% endblock %}
{% block page_content %}

      <table width="65%"  border="1" align="center">
          <thead>
          <tr>
              <th>序号</th>
              <th>名字</th>
              <th>Email</th>
          </tr>
          </thead>
          <tbody>
                 {% for p in posts %}
                   {% if loop.first %}
                      <tr style="background:papayawhip">
                       {% elif loop.last%}
                      <tr style="background:pink">
                       {% else %}
                        <tr>
                        {% endif %}
                      <td>{{loop.index0}}</td>
                      <td>{{p.username}}</td>
                      <td>{{p.email}}</td>
                     </tr>
                   {% endfor %}
          </tbody>
      </table>

{% endblock %}

